@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- 1. BASE STYLES & DARK MODE --- */
@layer base {
  body {
    /* Mode Terang (Default) */
    /* Saya ubah bg-gray-50 jadi bg-slate-50 biar senada dengan slate-900 */
    @apply bg-slate-50 text-slate-900 antialiased font-sans transition-colors duration-300;
    -webkit-tap-highlight-color: transparent;
  }

  /* Mode Gelap */
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }

  /* Custom Scrollbar Global (Biar cantik di Light & Dark) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Thumb (Batang Scroll) Mode Terang */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }

  /* Thumb (Batang Scroll) Mode Gelap */
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}

/* --- 2. UTILITIES --- */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* --- 3. ANIMATIONS --- */
@keyframes slideUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-slide-up {
    animation: slideUp 0.3s ease-out;
}